PORT=4000
# MongoDB Atlas (substitua usuário, senha e nome do banco se necessário)
MONGO_URI=mongodb+srv://USUARIO:SENHA@milhasnaconta.qsad7pi.mongodb.net/top20?retryWrites=true&w=majority&appName=MilhasNaConta
JWT_SECRET=troque-esta-chave
